

body{
    margin: 0px;
    background-color:    #F7F8FF;
    padding: 0px;
    

    
    
}
.home-section{
    width: 100%;
}
.user-icon{

   margin-bottom: 2px;
   margin-right: 2px;
}

.mainheading{
    font-family: 'Anton', sans-serif;
    font-size: 55px;
    font-weight: bold;
   padding-left: 44px;

}
.side-nav{

    margin-top: 44px;
}
/* news letter */

.container-news{

    margin-left: 444px;
    
}
.container-news-letter{
color: white;
 background-color: #292c39;
 border-radius: 23px;
 padding: 80px 23px;

 
}




.card {
    border-radius: '25px';
    
}
.container-section{
margin-top: 23px;
   
    border-radius: 12px;
    width: 70%;
    margin-left: 222px;
}


.img-signup{
    width: 80%;
    margin-left: 55px;
}


 



  /* products */
  .featured-title{
    margin-left: 77px;
  }
  .f-h{
    margin-right: 55px;
    margin-bottom: 22px;
  }
  .filter-products{
    background-color: #E9ECEF;
    padding: 22px;
    border-radius: 12px;
    height: 500px;
  }

  .custom-card {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 33px;
    padding: 16px;
    /* margin: 12px 30px; */
    text-decoration: white;
    color: inherit;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    vertical-align: top; 
    text-align: left; 
}


.card-img-top{
    max-width: 100%;
    height: 300px;
   margin: auto;
   transition: transform 0.3s ease;
}
.card-img-top:hover{
    transform: scale(1.1); /* Increase the scale factor to make it bigger on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover (optional) */
}
.text-hover:hover {
    color: red;
  cursor: pointer; }

  /* Footer */
  .custom-footer {
    background-color: #292c39; 
    color: #fff; 
    padding: 20px 0;
}


.footer-text{
  color: #a9aabc;
}
.footer-icon{

    color: white;
    font-size: 25px;


}
.containerhome{

    display: flex;
    margin-top: 12px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    
    
}
.f-btn{
  margin-left: 119px;
}
.rate-f{
    color: #AEAFBC;
}
/* Products details */


.truck{
    width: 28px;
}
.delivry-icon{
    width: 24px;
}
.main-img{
   
    margin-top: 29px;
    margin-right: 12px;
   
    
}

.mainimg{
    margin-left: 77px ;
    transition: transform 0.3s;
    
}
.mainimg:hover{
    
    transform: scale(1.2); 
    cursor: zoom-in; 
    
    
}
.bgcard{
    
    border: 1px solid #a9aabc;
   
}
.previews{
     margin-top: 23px;
}
.back{
  margin-top: 12px;
    width: 100px;
    height: 33px;
    cursor: pointer;
}
/* signup */

.signup-page{
 background-color: hsl(0, 0%, 96%);
}
.signup-p{
   color:hsl(217, 10%, 50.8%) ; 
}



/* Contact */

.contact-input{

    width: 200px;
}
.contact-icon{
    width: 66px;
    height: 44px;
    color: green;
}
.contact-icon-phone{
    width: 66px;
    height: 44px;
    color: rgb(105, 105, 96);

}
.contact-icon-email{
    width: 66px;
    height: 44px;
    color: rgb(196, 16, 16);

}
.map{
    margin-left: 520px;
    margin-top: 44px;
}

/* cart */
.cart-icon{
    font-size: 25px;
    color: rgb(255, 180, 19);
    cursor: pointer;
   transform: (0,22);
   margin-bottom: 4px;
    
}
.cart-icon:hover{
    color: #a9aabc;
    transform: scale(1.1); 
}
.cart-color{
    background-color: #eee;
}

/* modal  */



                                  /* About-us */
 .about-body{
    background-color: #F7F8FF;
 }
 .about-heading{

    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
   
    font-size: 55px;
    font-weight: bold;
 }           
 .about-cover{

    margin-left: 100px;
    border-radius: 33px;
    margin-top: 22px;
   
 }                    
.about-cover-2{ 
    background-color: #FCFCFF;
   height: 300px;
   width: 700px;
   border-radius: 33px;
   padding: 50px;
  
  text-align: center;
   
  
}
.aboutmain{
    display: flex;
    align-items: center;
    padding-right: 66px;
}

.exp-bg{
    background-color: #eeeffa;
    border-radius: 22px;
    width: 90%;
    height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px;
 
}
.exp-title{
    color: rgb(36, 95, 206);
    font-family: 'Anton', sans-serif;

}

.value{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.about-value{
    font-family: 'Anton', sans-serif;

    font-size: 36px;
    
}
.value-card{
    background-color: #FCFCFF;
    border-radius: 22px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease;
}
.value-card:hover{
    transform: scale(1.1);
    
}
.value-card-row{
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(2, 1fr);
            row-gap: 20px;
            column-gap: 20px;
            margin: 20px;
}
.value-card-p{

    color: #ACAEBA;
}

.card-icon{
 font-size: 36px;
}
.container-exp{
    background-color: #EEEFFA;
}
.title-exp{
    font-family: 'Anton', sans-serif;

   display: flex;
   justify-content: center;
   
}
.about-exp-grid{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
   
}
.card-exp{
    background-color: #FCFCFF;
    border-radius: 22px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.about-btn-shop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;

}

                                         /* Home */
  
  .home-container{

   
    height: 520px;
    border-radius: 24px;
    background-color: #2A488F;
    
  }

.home-item{
display: flex;
justify-content: center;
align-items: center;
padding-left: 55px;
padding-right: 22px;

}

.home-heading{
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 66px;
}

.home-img{

  padding: 20px;
    margin-top: 70px;
    margin-right: 33px;
}



.feature-heading{

    font-family: 'Anton', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-container{
    
    height: 520px;
}

                             /* Why  */

.img-why{
   margin-left: 100px;
   fill-opacity: 200px;
}

.item-why{
 margin-right: 2px;
margin-bottom: 4px;
color: #4f77d5;
}
.why-p{

    color: #A8A9B7;
}
/* happy client */
.happay{
    background-color: #3754A0;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    

}


.join-grid{

    display: grid;
   grid-template-columns: repeat(2,1fr);
  


}
.join-img{
    margin-top: 79px;
    margin-left: 33px;
}

.join{


height: 580px;

border-radius: 22px;
background-color: #FCFCFF;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}



.join-input{
    border-radius: 5px;
    width: 442px;
    height: 44px;
}

.happy-icon{
  
    
    margin-right: 3px;
    margin-bottom: 2px;
    color: #3754A0;
}

.blog{
    font-size: 55px;
}



                                        /* Add to Cart */

 
/* styles.css */


.h-custom{
    background-color: #eee;
}
 .img-fluid{
    width: 65px;
 } 
  
 .img-fluid2{
    width: 45px;
 } 
  
  
.cart-main{
    background-color: #eee;
}




.icon{
    font-size: 22px;
}

.total{

    margin-left: 333px;
 padding-top: 22px;
}

.icon-count{
    margin-bottom: 18px;
    

}
.container-cart{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.f-h{
   margin-left: 122px;
} 









































































































































































































   
                                                                  